{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "prettier", "next/core-web-vitals"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["unused-imports", "react", "@typescript-eslint"],
  "rules": {
    "camelcase": "off",
    "require-jsdoc": 0,
    "unused-imports/no-unused-imports": "error",
    "react/no-unknown-property": ["error", { "ignore": ["css"] }],
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-console": "error",
    "@next/next/no-img-element": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
